.bg-container {
  display: flex;
}
.head {
  color: white;
  font-size: 18px;
  margin-left: 40px;
  padding-bottom: 10px;
  padding-top: 40px;
}
.event-box {
  background-color: #3a4b63;
  height: 100vh;
  width: 50%;
}
.ul-events {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
